.myfooter{
    background-color:#57585a40; 
    position:absolute;
    bottom:0;
    width:100%;
    padding:10px;
    margin-top:10px;
    
}

.social-link{
    text-decoration: none;
    color:gray;
}

.social-link:hover{
    color: black;
}