<footer class="myfooter">
  <div class="row">
    <div class="col-md-4 text-center">
      Designed and Developed by <a href="mailto:dayanandraut2015@gmail.com">Dayanand Raut</a>
    </div>
    <div class="col-md-4 text-center">
      <span>
        <i class="fa fa-angular"></i> &nbsp;
        <i class="fa fa-bootstrap"></i> &nbsp;
        <i class="fa fa-html5"></i> &nbsp;
        <i class="fa fa-css3"></i> &nbsp;
      </span>
    </div>
    <div class="col-md-4 text-center">
      <a href="www.google.com"><i class="fa fa-google"></i></a>
      &nbsp; <a class="social-link" href="https://github.com/dayanandraut/"><i class="fa fa-github"></i></a>

      &nbsp; <a class="social-link" href="https://www.facebook.com/dayanand.raut.5"><i class="fa fa-facebook"></i></a>
      &nbsp; <a class="social-link" href="www.linkedin.com/in/dayanand-raut-9b1845129"><i class="fa fa-linkedin"></i></a>
      &nbsp; <a class="social-link" href="https://www.quora.com/profile/Dayanand-Raut"><i class="fa fa-quora"></i></a>
      
      
    </div>
  </div>
    
</footer>
