.myfooter{
    background-color:#57585a40; 
    position:relative;
    bottom:0px;
    width:100%;
    padding:10px ;
    margin-top:20px;
    
}

.social-link{
    text-decoration: none;
    color:gray;
}

.social-link:hover{
    color: black;
}