
<div class="container">

<div class="card-deck">

  <div class="card" *ngFor="let s of seriesSet;index as i" style="min-width: 20rem; margin-top:10px;">
    <div class="card-header" style="background-color: rgba(41, 10, 82, 0.71); color:white;">
      {{s.title}}
    </div>
    <div class="card-body">
      <h4 class="card-title text-center"><span class="badge badge-warning"><i class="fa fa-star"></i>{{s.rating}}/10</span></h4>
      <div class="card-text">
          <blockquote class="blockquote text-right">
              <p class="mb-0">{{s.favouriteDialogue}}</p>
              <footer class="blockquote-footer"><cite title="{{s.favouriteCharacter}}">{{s.favouriteCharacter}}</cite></footer>
            </blockquote>
      </div>
    </div>
    <div class="card-footer text-muted">
      Last Viewed: <time>{{s.recentlywatched}}</time>
      <span class="text-right" style="position: absolute; right: 5px;">
          <button type="button" class="btn btn-secondary btn-sm"><i class="fa fa-pencil"></i></button> &nbsp;
          <button type="button" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i></button>
      </span>
    </div>
  </div>

</div>

</div>

<!-- Add button on right bottom of page -->
<div >
    <button type="button" class="btn btn-primary btn-circle myposition" (click)="navigateToNew()">
      <i class="fa fa-plus"></i>
    </button>
</div>
